@model Artist
@{
    string title = ViewBag.Action;
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div>
        <label asp-for="ArtistTypeId">Artist Type ID</label>
        <select asp-for="ArtistTypeId"class="form-control" >
                <option value="select a type">select a type</option>
                @foreach (ArtistType t in ViewBag.ArtistTypes)
            {
                <option value="@t.ArtistTypeId">@t.Description</option>
            }
        </select>

    </div>
        <input type="hidden" asp-for="ArtistId"/>
        <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
        <a asp-controller="Artist" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>