@model Artist
@{ 
    string title = ViewBag.Action;
    ViewBag.Title = title;
}
<h2>@ViewBag.Title</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"> </div>
    <div class="form-group">
        <label asp-for="Fname">First Name</label>
        <input asp-for="Fname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Lname">Last Name</label>
        <input asp-for="Lname" class="form-control" />
    </div>
    <div>
        <label asp-for="ArtistTypeId">Artist Type</label>
        <select asp-for="ArtistTypeId" class="form-control">
            <option value="select a type">select a type</option>
            @foreach (ArtistType t in ViewBag.ArtistTypes)
            {
                <option value="@t.ArtistTypeId">@t.Description</option>
            }
        </select>
    </div>
    <input type="hidden" asp-for="ArtistId" />
    <br />
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Artist" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
